// Variable overrides
// Copy in any variable from a module and override it here.
// The module variable should have the !Default flag
// ––––––––––––––––––––––––––––––––––––––––––––––––––


// –––––––––––––––––––––––––––––––––––––––––––––––––– // Colours

$pypy-blue: #1890ff; 
$pypy-grey: #606c76; 
$pypy-light-grey: #a8b1b6; 
$pypy-dark-grey: #576166; 
$pypy-white: #fff; 
$pypy-off-white: #fafafa; 




// Base/BaseModules/Color
$base-color-primary: $pypy-blue;