
// Code
// ––––––––––––––––––––––––––––––––––––––––––––––––––

code
	background: $base-color-tertiary
	border-radius: .4rem
	font-size: 86%
	margin: 0 .2rem
	padding: 0.8rem 1rem
	white-space: nowrap

pre
	border-left: .3rem solid $base-color-primary
	padding-left: 2rem
	background: $base-color-tertiary
	overflow-y: hidden

	& > code
		border-radius: 0
		display: block
		padding: 1rem 1.5rem
		white-space: pre
