
// Color
// ––––––––––––––––––––––––––––––––––––––––––––––––––

// Colours                                // Use                      // Location
$base-color-initial: #fff !default;          // Background               // Background, Buttons
$base-color-primary: #1890ff !default;       // Primary colour           // buttons, Code, Forms, Links
$base-color-secondary: #606c76 !default;     // Opposite of Primary      // Typography, Buttons, Links,
$base-color-tertiary: #f4f5f6 !default;      // Background-highlight     // Code, Divider
$base-color-quaternary: #d1d1d1 !default;    // Detail                   // Quotes, Forms
$base-color-quinary: #e1e1e1 !default;       //                          // Tables


// Milligram Default Purple                  
// $color-initial: #fff !default;       
// $color-primary: #9b4dca !default;    
// $color-secondary: #606c76 !default;  
// $color-tertiary: #f4f5f6 !default;   
// $color-quaternary: #d1d1d1 !default; 
// $color-quinary: #e1e1e1 !default;    